<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add" #shoppingListForm="ngForm" (ngSubmit)="onSubmit(shoppingListForm)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input
            type="text"
            id="item-name"
            name="itemName"
            required
            ngModel
            class="form-control">
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input
            class="form-control"
            type="text"
            id="item-amount"
            name="itemAmount"
            required
            pattern="^[0-9]*$"
            ngModel>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="shoppingListForm.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!editMode">Delete Item</button>
          <button class="btn btn-primary" type="button" (click)="onClear()" [disabled]="shoppingListForm.invalid">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
