<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()" id="recipes-edit">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="recipeEditForm.invalid">{{ editMode === true ? 'Update' : 'Add' }}</button>
            <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <label for="imagePath">Image path</label>
            <input
              class="form-control"
              type="text"
              id="imagePath"
              name="imagePath"
              formControlName="imagePath"
              #imagePath>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
            <label for="item-amount">Description</label>
            <textarea
              type="text"
              class="form-control"
              id="descr"
              name="description"
              formControlName="description">
            </textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-success" type="button" (click)="newIngredientControl()">New ingredient</button>
              </div>
            </div>
            <hr>
            <div class="row" 
            *ngFor="let ingredientCtrl of recipeEditForm.get('ingredients').controls; let i = index"
            [formGroupName]="i" style="margin-top: 10px">
              <div class="col-xs-7">
                <input
                  class="form-control"
                  type="text"
                  id="ingredientName"
                  name="name"
                  formControlName="name">
              </div>
              <div class="col-xs-3">
                <input
                  class="form-control"
                  type="number"
                  id="amount"
                  name="quantity"
                  formControlName="quantity">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="onRemoveIngredient(i)">X</button>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
